.title {
    text-align: center;
    margin: 1%;
    padding: 1%
}

  body {
    background-color: #f5b042;
  }

  #game-page {
    background-color: white;
    border-radius: 30px;
    padding: 3%;
  }

  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 5%;
    margin: 0%, 5%;
  }


  .grid-cell {
    width: 10rem;
    height: 10rem;
    border: 5px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  p {
    font-size: x-large;
  }

  /* removes the top border */
.grid-cell:first-child,
.grid-cell:nth-child(2),
.grid-cell:nth-child(3) {
  border-top: none;
}

/* removes the left border */
.grid-cell:nth-child(3n + 1) {
  border-left: none;
}

/* removes the right border */
.grid-cell:nth-child(3n + 3) {
  border-right: none;
}

/* removes the bottom border */
.grid-cell:last-child,
.grid-cell:nth-last-child(2),
.grid-cell:nth-last-child(3) {
  border-bottom: none;
}

/* create my x marker */
.grid-cell.x::before,
/* creates the first line of the x */
.grid-cell.x::after {
  /* creates the second line of the x */
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  /* width is 15 percent of the cell */
  height: var(--mark-size);
  background-color: #e89394;
}

.grid-cell.x::before {
  transform: rotate(45deg);
}

.grid-cell.x::after {
  transform: rotate(-45deg);
}

/* create my circle */

/* smaller circle */
.grid-cell.circle::before,
.grid-cell.circle::after {
  content: ""; /*renders the before and after elements*/
  position: absolute;
  border-radius: 50%;
}

/* larger circle */
.grid-cell.circle::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #99c5c4;
}

.grid-cell.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}